# CSS snippet

snippet doc
	/* ------------------------------+------------------------------ */
	/*                               ${1}                                */
	/* ------------------------------+------------------------------ */
snippet .
	.${1} {
		${2}
	}
snippet #
	#${1} {
		${2}
	}
snippet date
	`strftime("%d-%m-%Y")`
snippet ddate
	`strftime("%B %d, %Y")`
